<%= form_with(model: [comment.commentable, comment]) do |form| %>
  <%= render 'shared/comment_error', comment: @comment if @comment.present? %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
