<%= form_with(model: comment) do |form| %>
  <%= render 'shared/comment_error', comment: @comment if @comment.present? %>

  <%= form.hidden_field :commentable_type, value: comment.commentable_type %>
  <%= form.hidden_field :commentable_id, value: comment.commentable_id %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
